body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000; 
    background-color: #1a1a1a; 
}

p{
    font-size: medium;
    color: white;
}
/* navbar header */


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.navbar {
    margin-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgb(21, 69, 228); 
}


/* intro cards */

.introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;

}

.card {
    width: 400px;
    height: 100%; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s;
}

.card:hover {
    transform: scale(1.09);
}

.card img {
    width: 100%;
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 20px;
}

.separator {
    height: 50px;
    background-color: #333; 
}

/*  table */

table {
    padding: 20px;
    transition: background-color 0.3s ease; 
    overflow: hidden; /* Agregamos overflow: hidden para asegurar que la transición no cause problemas con el contenido flotante */
}

.table:hover {
    background-color: #a8a2a2; /* Cambia el color de fondo al pasar el ratón sobre la sección */
}

.table table {
    background-color: #8f8989;
    width: 100%;
    border-collapse: collapse;
    float: left;
    margin-right: 20px;
}

.table th,
.table td {
    background-color: #8f8989;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #8f8989;
}

/* skills */

.skills {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-1, .skill-2, .skill-3 {
    width: 30%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.skill-1 {
    background-color: #7cb9e8;
}

.skill-2 {
    background-color: #a3e1d4;
}

.skill-3 {
    background-color: #f0a3d4;
}
/*  forms page */

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
